apps/n8n-workflows/04-reactivation-campaign.json
{
  "name": "04 — Campanhas: Reativação (clientes 21+ dias sem visitar)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 10 * * *" }]
        }
      },
      "id": "node-cron-daily",
      "name": "Cron — Todo dia às 10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id, c.phone, c.name, c.total_visits, c.current_stamps, c.last_visit_at, EXTRACT(DAY FROM NOW() - c.last_visit_at)::int as dias_ausente, r.id as restaurant_id, r.name as restaurant_name, r.type as restaurant_type, r.tone_of_voice, r.whatsapp_session_id FROM customers c JOIN restaurants r ON c.restaurant_id = r.id WHERE c.last_visit_at < NOW() - INTERVAL '21 days' AND c.opted_out = false AND c.phone IS NOT NULL AND r.active = true ORDER BY c.last_visit_at ASC"
      },
      "id": "node-get-inactive",
      "name": "Buscar Clientes Inativos (21+ dias)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "supabase-db", "name": "Supabase DB" } }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop-inactive",
      "name": "Loop por Cliente",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5",
        "options": { "maxTokens": 200 },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ `Você escreve mensagens de WhatsApp para restaurantes brasileiros.\n\nRestaurante: ${$json.restaurant_name} (${$json.restaurant_type})\nTom de voz: ${$json.tone_of_voice}\nCliente: ${$json.name || 'cliente'}\nDias sem visitar: ${$json.dias_ausente}\nTotal de visitas anteriores: ${$json.total_visits}\nCarimbos atuais: ${$json.current_stamps}\n\nRegras:\n- Mensagem curta (máx 2 parágrafos)\n- Tom natural, como um amigo que sente falta\n- Não seja genérico — mencione os dias sem aparecer\n- Inclua um motivo concreto para voltar (pode inventar: prato novo, tempo bom, dia especial)\n- Sem emojis em excesso (máx 2)\n- Não use «promoção» ou «desconto» — apenas convite genuíno\n- Se tiver carimbos, mencione sutilmente que estão guardados\n\nResponda apenas com o texto da mensagem, sem aspas, sem explicações.` }}"
            }
          ]
        }
      },
      "id": "node-claude-reactivation",
      "name": "Claude — Gerar Mensagem de Reativação",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [900, 300],
      "credentials": { "anthropicApi": { "id": "anthropic-key", "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $node['Loop por Cliente'].json.whatsapp_session_id || $node['Loop por Cliente'].json.restaurant_name.toLowerCase().replace(/ /g, '-') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" }]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $node['Loop por Cliente'].json.phone }}" },
            { "name": "text", "value": "={{ $node['Claude — Gerar Mensagem de Reativação'].json.text || $node['Claude — Gerar Mensagem de Reativação'].json.content }}" },
            { "name": "delay", "value": "={{ Math.floor(Math.random() * 8000) + 3000 }}" }
          ]
        }
      },
      "id": "node-send-whatsapp",
      "name": "Evolution — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "campaign_messages",
        "columns": "phone,status,sent_at",
        "values": "={{ $node['Loop por Cliente'].json.phone }},sent,={{ new Date().toISOString() }}"
      },
      "id": "node-log-send",
      "name": "Registrar Envio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "credentials": { "postgres": { "id": "supabase-db", "name": "Supabase DB" } }
    }
  ],
  "connections": {
    "Cron — Todo dia às 10h": {
      "main": [[{ "node": "Buscar Clientes Inativos (21+ dias)", "type": "main", "index": 0 }]]
    },
    "Buscar Clientes Inativos (21+ dias)": {
      "main": [[{ "node": "Loop por Cliente", "type": "main", "index": 0 }]]
    },
    "Loop por Cliente": {
      "main": [[{ "node": "Claude — Gerar Mensagem de Reativação", "type": "main", "index": 0 }]]
    },
    "Claude — Gerar Mensagem de Reativação": {
      "main": [[{ "node": "Evolution — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Evolution — Enviar WhatsApp": {
      "main": [[{ "node": "Registrar Envio", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "campanhas" }]
}
